In [1]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv("/Users/antoniojaenarias/Desktop/DATA SCIENCE/TODO/ML_KAGGLE_1/data/data.csv")


# Hacemos el df para el predict

predict_df = df[pd.isna(df["x_e_out [-]"])]
predict_df=predict_df.drop(columns=["x_e_out [-]"])
predict_df

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
4,4,NaN,tube,13.79,686.0,11.1,11.1,457.0,2.8
7,7,Peskov,tube,18.00,750.0,10.0,10.0,1650.0,2.2
10,10,Thompson,tube,NaN,NaN,1.9,1.9,152.0,3.2
12,12,Thompson,NaN,6.89,7500.0,NaN,12.8,1930.0,4.8
23,23,Beus,annulus,15.51,1355.0,5.6,15.2,2134.0,2.1
...,...,...,...,...,...,...,...,...,...
31633,31633,Thompson,tube,11.03,NaN,11.5,11.5,NaN,2.0
31634,31634,Richenderfer,plate,1.01,2000.0,15.0,120.0,10.0,6.2
31637,31637,Weatherhead,tube,13.79,688.0,NaN,11.1,457.0,2.3
31640,31640,NaN,NaN,13.79,NaN,4.7,4.7,NaN,3.9
31642,31642,Thompson,tube,6.89,3825.0,23.6,23.6,1972.0,3.7

In [9]:
# Hacemos el dataframe para entrenar

all_df = df[~pd.isna(df["x_e_out [-]"])]
all_df

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
2,2,Thompson,NaN,13.79,2034.0,0.0335,7.7,7.7,457.0,2.5
3,3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
5,5,NaN,NaN,17.24,3648.0,-0.0711,NaN,1.9,696.0,3.6
...,...,...,...,...,...,...,...,...,...,...
31636,31636,NaN,NaN,12.07,NaN,-0.0195,NaN,1.9,152.0,5.4
31638,31638,Thompson,tube,NaN,3648.0,-0.0487,4.7,4.7,318.0,9.0
31639,31639,Thompson,NaN,NaN,1736.0,0.0886,NaN,7.8,591.0,2.3
31641,31641,Thompson,NaN,18.27,658.0,-0.1224,3.0,3.0,150.0,2.3
31643,31643,NaN,tube,6.89,7568.0,0.0603,12.8,12.8,1930.0,3.3